{% extends 'wrapper/main.html' %}

{% block content %}
  <div class="notifications">
    <h4>Уведомления</h4>
    <ul>
      {% for data in notific_all %}
        <li>
          {% if data.notification_type == 'answer' %}
            <a href="{% url 'question' data.related_object_id %}"><strong>Ответ</strong></a> на ваш вопрос от <strong>{{ data.sender }}</strong>
          {% else %}
            {% with related_object_id=data.related_object_id|add:'0' %}
              <a href="{% url 'question' related_object_id %}"><strong>Лайк</strong></a> на ваш ответ от <strong>{{ data.sender }}</strong>
            {% endwith %}
          {% endif %}
        </li>
      {% empty %}
        <li>У вас нет новых уведомлений.</li>
      {% endfor %}
    </ul>

    <div class="notification-actions">
      <h4><a href="{% url 'get_notification' read='1' %}">Пометить прочитанным</a></h4>
      <h4><a href="{% url 'get_notification' read='0' %}">Отменить прочтение</a></h4>
    </div>
  </div>

  <style>
    .notifications {
      font-family: Arial, sans-serif;
    }
    .notifications h4 {
      font-size: 18px;
      margin-bottom: 10px;
    }
    .notifications ul {
      list-style-type: none;
      padding: 0;
    }
    .notifications ul li {
      margin-bottom: 8px;
    }
    .notifications strong {
      font-weight: bold;
      color: #007bff; /* Можно задать другой цвет для выделения */
    }
    .notification-actions {
      margin-top: 20px;
    }
    .notification-actions a {
      color: #007bff;
      text-decoration: none;
    }
    .notification-actions a:hover {
      text-decoration: underline;
    }
  </style>
{% endblock %}
