{% extends 'wrapper/main.html' %}

{% block content %}
  <a href="{{ request.META.HTTP_REFERER }}">Назад</a>

  <input type="text" name="example" list="exampleList" />

  <datalist id="exampleList">
    {% for teg in tegs %}
      <option value="{{ teg }}">  
    {% endfor %}
</datalist>

  <form action="" method="post">
    {% csrf_token %}
    {{ form.as_div }}
    <input type="submit" value="Отправить" />
  </form>
    <a href="#"><button>Предпросмотр</button></a>

  {% comment %} <select name="fruits" id="fruits">
    {% for teg in tegs %}
      <option value="{{ teg.id }}">{{ teg }}</option>
    {% endfor %}
  </select> {% endcomment %}

  <style>
    form {
      max-width: 400px; /* Максимальная ширина формы */
      margin: 0 auto; /* Центрирование формы */
      padding: 0; /* Отступы вокруг формы */
    
      border-radius: 5px; /* Скругление углов формы */
    }
    
    /* Стилизация заголовка формы */
    form h2 {
      font-size: 24px; /* Размер шрифта */
      margin-bottom: 20px; /* Отступ снизу */
    }
    
    /* Стилизация ссылки "Назад" */
    a {
      display: block; /* Сделать ссылку блочным элементом */
      margin-bottom: 20px; /* Отступ снизу */
      color: #007bff; /* Цвет ссылки */
      text-decoration: none; /* Убрать подчеркивание */
    }
    
    /* Стилизация поля ввода */
    input[type='text'],
    textarea {
      width: 100%; /* Ширина поля */
      padding: 10px; /* Внутренние отступы */
      margin-bottom: 20px; /* Отступ снизу */
      border: 1px solid #ccc; /* Рамка вокруг поля */
      border-radius: 5px; /* Скругление углов поля */
      box-sizing: border-box; /* Учитываем внутренние отступы в общей ширине поля */
    }
    
    /* Стилизация кнопки отправки */
    input[type='submit'] {
      background-color: #007bff; /* Цвет фона */
      color: #fff; /* Цвет текста */
      padding: 10px 20px; /* Внутренние отступы */
      border: none; /* Убираем рамку */
      border-radius: 5px; /* Скругление углов */
      cursor: pointer; /* Изменяем курсор при наведении */
    }
    
    /* Стилизация кнопки отправки при наведении */
    input[type='submit']:hover {
      background-color: #0056b3; /* Изменяем цвет фона при наведении */
    }
  </style>
{% endblock %}
